<!-- Navigation -->
<nav>
    <div class="topnav">
      <a class="active" href="{{"/home" | relative_url }}">{{ site.title | escape }}</a>
      <div id="myLinks">
            <a href="{{"/home" | relative_url }}">Home</a>
            <a href="{{"/posts" | relative_url }}">Blog</a>
            <a href="{{"/projects" | relative_url }}">Projects</a>
            <a href="{{"/bookreviews" | relative_url }}">Book Reviews</a>
            <a href="{{"/contact" | relative_url }}">Contact</a>
      </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
  </nav>

  <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    </script>